.CommentLoadingDiv {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 3px;
    margin-left: 22.41px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 22.41px;
}

.Comment {
    display: flex;
    border: grey;
    background-color: rgb(240, 240, 240);
    margin-bottom: 22.46px;
    border-radius: 6px;
    width: 100%;
    justify-content: space-between;
}

.commentContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    color:rgb(73, 73, 73);
}

.date {
    margin-right:3%;
    color: rgb(131, 131, 131);
}

.icon {
    max-height: 30px;
    width: auto;
    border-radius: 50%;
}

.author {
    display: flex;
    justify-content: start;
    color: rgb(255, 68, 0);
}


.gradient {
    background: repeating-linear-gradient(90deg,#dbdbdb,#dbdbdb,#dbdbdb,rgb(235, 235, 235) ,  #dbdbdb,#dbdbdb,#dbdbdb);
    background-size: 200% 200%;
    color: transparent;

    -webkit-animation: GreyGradient 2s ease infinite;
    -moz-animation: GreyGradient 2s ease infinite;
    animation: GreyGradient 2s ease infinite;
}

@-webkit-keyframes GreyGradient {
    0%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GreyGradient {
    0%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:0% 50%}
}
@keyframes GreyGradient {
    0%{background-position:0% 50%}
    50%{background-position:150% 50%}
    100%{background-position:350% 50%}
}