.Comment {
    display: flex;
    border: grey;
    background-color: rgb(240, 240, 240);
    margin-bottom: 12px;
    border-radius: 6px;
    width: 100%;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    flex-direction: column;
}

h5 {
    font-weight: normal;
}

p{
    margin: 0 0 10px 0;
}

.commentContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 3%;
    margin-top:0;
    margin-bottom: 1%;
    color:rgb(73, 73, 73);
}

.commentDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -5px;
    margin-left: 5px;
}

#commentBody{
    margin-bottom: 0px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.date {
    margin-right:3%;
    color: rgb(131, 131, 131);
}

.icon {
    max-height: 20px;
    width: auto;
    border-radius: 50%;
}

.author {
    display: flex;
    justify-content: start;
    color: rgb(255, 68, 0);
}

@media only screen and (max-width: 1020px) {
    .Comment {
      max-width: 100%;
      font-size: .5em;
    }
    #date {
        font-size: 8px;
    }
  }
