.NavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 60px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
}

.image {
    max-height: 35px;
    width: auto;
    border-radius: 50%;
}

.orange {
    color: rgb(255, 68, 0);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.brand {
    margin-left: 10px;
}