.Post {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 3px;
    margin-left: 22.41px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 22.41px;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.Post:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    animation-duration: .25s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

img {
    width: 100%;
}

.votes {
    display: flex;
    margin: 22.41px;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.postDetails{
    display: flex;
    justify-content: space-between;
    border-top-style: solid;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
}

h5{
    margin-top: 10px;
    margin-bottom: 10px;
}
.postContent{
    width: 100%;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: rgb(43, 43, 43);
}

.arrow {
    border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow:hover {
    cursor: pointer;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

