.Sub {
    display: flex;
    flex-direction: column;
}

.subReddit {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.subImage {
    max-height: 35px;
    width: auto;
    border-radius: 50%;
}

.subImg:before {
    content: ' ';
    display: block;
    max-height: 35px;
    width: auto;
    border-radius: 50%;
    background-image: url(../../images/reddit-logo.png);
}